<style type="text/css">

	#chart {
		background: #fff;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	.title {
		font-weight: bold;
		font-size: 24px;
		text-align: center;
		margin-top: 6px;
		margin-bottom: 6px;
	}
	text {
		pointer-events: none;
	}

	.grandparent text {
		font-weight: bold;
	}

	rect {
		fill: none;
		stroke: #fff;
	}

	rect.parent,
	.grandparent rect {
		stroke-width: 2px;
	}

	rect.parent {
		pointer-events: none;
	}

	.grandparent rect {
		fill: orange;
	}

	.grandparent:hover rect {
		fill: #ee9700;
	}

	.children rect.parent,
	.grandparent rect {
		cursor: pointer;
	}

	.children rect.parent {
		fill: #bbb;
		fill-opacity: .5;
	}

	.children:hover rect.child {
		fill: #bbb;
	}

</style>


<script src="/public/plugins/grafana-chord-panel/vendor/d3.js"></script>
<script src="/public/plugins/grafana-chord-panel/vendor/d3-scale-chromatic.min.js"></script>

<div class="graph-wrapper">
	<div class="tooltip"  id="tooltip"></div>

	<!--<div class="caption-holder">-->
		<!--<svg class="caption" ></svg>-->
	<!--</div>-->

	<!--<div class="next-to-captions gf-form">-->

		<!--<input class="gf-form-input max-width-12 highlight"-->
			<!--bs-tooltip="'Find in the iris and highlight them.'"-->
			<!--data-placement="bottom"-->
			<!--placeholder="Highlight"-->
			<!--ng-model="ctrl.highlight_text"-->
			<!--ng-model-options="{debounce: 750}"-->
			<!--ng-change="ctrl.highlight()"  />-->

	<!--</div>-->
	<div  class="grafana-d3-treemap"></div>
	<!--<svg class="networkchart-panel full_width_height">-->
		<!--<text class="no-data" x="15" y="15" fill="red">No data points</text>-->
	<!--</svg>-->

</div>
<div class="clearfix"></div>


